.main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input {
    width: 80%;
    border: none;
    height: 44px;
    padding: 8px;
    border-radius: 10px;

}

.chat-view {
    height: 90%;
}

.input-div {
    display: flex;
    justify-content: space-around;
}

.button {
    height: 44px;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    background-color: green;
}

.chat-box {
    height: 100vh;
    width: 30%;
    background-color: rgb(199, 255, 199);
}

.message-div {
    display: flex;
    margin: 10px;
}

.message-end {
    justify-content: end;
}

.message-start {
    justify-content: start;
}

.message-box {
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
}